.button {
  display: flex;
  justify-content: space-around;

  margin-top: 5rem;

  button {
    cursor: pointer;
    padding: 10px 50px;
    color: #fff;
    border: 1px solid #EEBC1D;
    border-radius: 5px;

    &:hover{
      background-color: #EEBC1D;
      opacity: 0.9;
      transition: all 0.2s ease;
    }
  }
}