.table_container {
  width: 1400px;
  margin: 0 auto;
  margin-top: 4rem;

  .table_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #37396D;
    border-radius: 8px;

    .coin {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      background-color: #37396D;
      min-width: 300px;
      
      p {
        margin-right: 24px;
        margin-left: 11px;
        background-color: #37396D;

        font-size: 20px;
        font-weight: 400;
      }
    }

    .coin_info {
      display: flex;
      justify-content: space-between;
      background-color: #37396D;
      min-width: 900px;

      p {
        margin-right: 18px;
        background-color: #37396D;

        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}

//INPUT STYLES
.input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
  margin-top: 3rem;
}

.crypto_empty_results {
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.input_field {
  position: relative;
  padding-left: 16px;
  width: 400px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(-225deg, rgb(106, 94, 209), rgb(59, 48, 156));
  color: #ffffff;
}

.input_field:focus {
  outline-color: #37396D;
}

.input_field::placeholder {
  color: #e2e2e2;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

//LINE 
.line {
  margin-top: -3px;
  height: 3px;
  width: 100%;
  background-color: aliceblue;
}